<body>
    <div style="position: relative;">
        <!-- <button (click)="back()" style="position: absolute; top: 20px; left: 20px; padding: 5px;">BACK</button> -->
        <button (click)="quit()" style="position: absolute; top: 20px; right: 20px; padding: 5px;">QUIT</button>
      </div>
      
    <h1>WELCOME</h1>
    <p class="normal-case">GAME SESSION: {{ gameCode }}</p>
    <br>
    <h2>PLAYERS</h2>
    <div>
        <ul>
            <li *ngFor="let player of players">{{ player.name }}</li>
        </ul>
    </div>
    <br>
    <button *ngIf="isAdmin" (click)="start()">START GAME</button>
    <!-- <button (click)="start()">START GAME</button> -->
</body>